
<div style="textarea">
  <div class="book_img">
    <div class="image">
      <%= link_to "img link" do %>
        <%= image_tag("rails.png", :size => "120x160", :alt => "a link") %>
      <% end %>
    </div>
    <div class="links">
      <ul>
        <li>
          <a title="title" href="http://www.google.co.jp"> link </a>
        </li>
        <li>
          <a title="title" href="http://www.google.co.jp"> link </a>
        </li>
        <li>
          <a title="title" href="http://www.google.co.jp"> link </a>
        </li>
        <li>
          <a title="title" href="http://www.google.co.jp"> link </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="book_inf">
<h1>Ruby 魔法 - 基础篇</h1>
    <dl>
      <dt>作者</dt>
      <dd>dongfeng.wei </dd>
      <dt>出版日期</dt>
      <dd>2013/05/01</dd>
    </dl>
  </div>
</div>

